<?xml version='1.0' encoding='utf-8'?>
<robot name="gripper">
  <link name="gripper_base">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
  </link>
  <link name="interface_arm100">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="0.0231 2.02963e-16 -0.0330626" rpy="-3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1__3.stl"/>
      </geometry>
      <material name="sts3215_03a_v1_7_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0231 2.02963e-16 -0.0330626" rpy="-3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1__3.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-7.66594e-17 -8.96852e-16 -0.063609" rpy="6.12333e-17 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/bottom_plate.stl"/>
      </geometry>
      <material name="bottom_plate_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-7.66594e-17 -8.96852e-16 -0.063609" rpy="6.12333e-17 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/bottom_plate.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-2.11482e-17 1.27502e-16 -0.063609" rpy="6.12323e-17 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/top_plate.stl"/>
      </geometry>
      <material name="top_plate_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-2.11482e-17 1.27502e-16 -0.063609" rpy="6.12323e-17 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/top_plate.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-7.66594e-17 1.27502e-16 -0.063609" rpy="6.12323e-17 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/camera_basement.stl"/>
      </geometry>
      <material name="camera_basement_material">
        <color rgba="0.964706 0.964706 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-7.66594e-17 1.27502e-16 -0.063609" rpy="6.12323e-17 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/camera_basement.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0781746 0.0002 -0.0320386" rpy="-3.14159 0.261799 -4.18218e-15"/>
      <geometry>
        <mesh filename="package://assets/camera_mobile_fisheye_lens.stl"/>
      </geometry>
      <material name="camera_mobile_fisheye_lens_material">
        <color rgba="0.964706 0.964706 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0781746 0.0002 -0.0320386" rpy="-3.14159 0.261799 -4.18218e-15"/>
      <geometry>
        <mesh filename="package://assets/camera_mobile_fisheye_lens.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-2.11482e-17 -8.67362e-19 -0.063609" rpy="6.12323e-17 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/interface_arm100.stl"/>
      </geometry>
      <material name="interface_arm100_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-2.11482e-17 -8.67362e-19 -0.063609" rpy="6.12323e-17 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/interface_arm100.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="gripper_frame_link">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <link name="internal_rod">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="5.55112e-17 0.0325 0.008" rpy="0 -0 4.14644e-17"/>
      <geometry>
        <mesh filename="package://assets/internal_rod.stl"/>
      </geometry>
      <material name="internal_rod_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="5.55112e-17 0.0325 0.008" rpy="0 -0 4.14644e-17"/>
      <geometry>
        <mesh filename="package://assets/internal_rod.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="external_rod">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="0 0.044 -0.004" rpy="1.24077e-24 -0 -3.41411e-17"/>
      <geometry>
        <mesh filename="package://assets/external_rod.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.044 -0.004" rpy="1.24077e-24 -0 -3.41411e-17"/>
      <geometry>
        <mesh filename="package://assets/external_rod.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="distal_shell">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="-0.034641 0.024 -0.0049" rpy="2.22045e-16 -3.34777e-16 -5.06813e-18"/>
      <geometry>
        <mesh filename="package://assets/removable_tip.stl"/>
      </geometry>
      <material name="removable_tip_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.034641 0.024 -0.0049" rpy="2.22045e-16 -3.34777e-16 -5.06813e-18"/>
      <geometry>
        <mesh filename="package://assets/removable_tip.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.034641 0.024 -0.0048" rpy="0 -0 -5.06813e-18"/>
      <geometry>
        <mesh filename="package://assets/distal_rod.stl"/>
      </geometry>
      <material name="distal_rod_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.034641 0.024 -0.0048" rpy="0 -0 -5.06813e-18"/>
      <geometry>
        <mesh filename="package://assets/distal_rod.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.0346303 0.02375 -0.0049" rpy="2.22045e-16 -3.34777e-16 -5.06813e-18"/>
      <geometry>
        <mesh filename="package://assets/pointy_tip_support.stl"/>
      </geometry>
      <material name="pointy_tip_support_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0346303 0.02375 -0.0049" rpy="2.22045e-16 -3.34777e-16 -5.06813e-18"/>
      <geometry>
        <mesh filename="package://assets/pointy_tip_support.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.034641 0.024 -0.0051" rpy="2.22044e-16 -3.3475e-16 -5.06813e-18"/>
      <geometry>
        <mesh filename="package://assets/distal_shell.stl"/>
      </geometry>
      <material name="distal_shell_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.034641 0.024 -0.0051" rpy="2.22044e-16 -3.3475e-16 -5.06813e-18"/>
      <geometry>
        <mesh filename="package://assets/distal_shell.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="internal_rod_2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="-1.11022e-16 0.0325 -0.008" rpy="1.65436e-24 -3.30872e-24 -4.87225e-17"/>
      <geometry>
        <mesh filename="package://assets/internal_rod.stl"/>
      </geometry>
      <material name="internal_rod_2_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.11022e-16 0.0325 -0.008" rpy="1.65436e-24 -3.30872e-24 -4.87225e-17"/>
      <geometry>
        <mesh filename="package://assets/internal_rod.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="external_rod_2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="0 0.044 -0.004" rpy="8.27181e-25 -0 6.78867e-18"/>
      <geometry>
        <mesh filename="package://assets/external_rod.stl"/>
      </geometry>
      <material name="external_rod_2_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.044 -0.004" rpy="8.27181e-25 -0 6.78867e-18"/>
      <geometry>
        <mesh filename="package://assets/external_rod.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="distal_shell_2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="-0.0346303 0.02375 0.0049" rpy="-6.12114e-23 -4.96308e-24 -1.87076e-18"/>
      <geometry>
        <mesh filename="package://assets/pointy_tip_support.stl"/>
      </geometry>
      <material name="pointy_tip_support_2_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0346303 0.02375 0.0049" rpy="-6.12114e-23 -4.96308e-24 -1.87076e-18"/>
      <geometry>
        <mesh filename="package://assets/pointy_tip_support.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.034641 0.024 0.0048" rpy="-1.65436e-24 -1.65436e-24 1.59868e-18"/>
      <geometry>
        <mesh filename="package://assets/distal_rod.stl"/>
      </geometry>
      <material name="distal_rod_2_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.034641 0.024 0.0048" rpy="-1.65436e-24 -1.65436e-24 1.59868e-18"/>
      <geometry>
        <mesh filename="package://assets/distal_rod.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.034641 0.024 0.0051" rpy="9.42986e-23 -1.84643e-20 1.59868e-18"/>
      <geometry>
        <mesh filename="package://assets/distal_shell.stl"/>
      </geometry>
      <material name="distal_shell_2_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.034641 0.024 0.0051" rpy="9.42986e-23 -1.84643e-20 1.59868e-18"/>
      <geometry>
        <mesh filename="package://assets/distal_shell.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.034641 0.024 0.0049" rpy="-6.28657e-23 -3.30872e-24 -5.34021e-18"/>
      <geometry>
        <mesh filename="package://assets/removable_tip.stl"/>
      </geometry>
      <material name="removable_tip_2_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.034641 0.024 0.0049" rpy="-6.28657e-23 -3.30872e-24 -5.34021e-18"/>
      <geometry>
        <mesh filename="package://assets/removable_tip.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="cam">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="-0.00369791 -0.0176594 -0.00415" rpy="-9.92617e-24 -1.15805e-23 -1.77722"/>
      <geometry>
        <mesh filename="package://assets/cam.stl"/>
      </geometry>
      <material name="cam_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00369791 -0.0176594 -0.00415" rpy="-9.92617e-24 -1.15805e-23 -1.77722"/>
      <geometry>
        <mesh filename="package://assets/cam.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="interface" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0 3.141592 0"/>
    <parent link="gripper_base"/>
    <child link="interface_arm100"/>
  </joint>
  <joint name="gripper_frame_fixed_joint" type="fixed">
    <origin xyz="-3.94522e-17 0 -0.123609" rpy="6.12323e-17 1.5708 0"/>
    <parent link="interface_arm100"/>
    <child link="gripper_frame_link"/>
    <axis xyz="0 0 0"/>
  </joint>
  <joint name="Revolute 7" type="fixed">
    <origin xyz="-0.0088 -0.0325 -0.063609" rpy="-1.5708 1.27489 -1.5708"/>
    <parent link="interface_arm100"/>
    <child link="internal_rod"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <joint name="Revolute 9" type="fixed">
    <origin xyz="0.034641 0.02 -0.008" rpy="3.14159 2.54324e-17 0.751294"/>
    <parent link="external_rod"/>
    <child link="distal_shell"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <joint name="Revolute 8" type="fixed">
    <origin xyz="-0.0042 -0.044 -0.063609" rpy="-1.5708 0.819502 1.5708"/>
    <parent link="interface_arm100"/>
    <child link="external_rod"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <joint name="Revolute 14" type="fixed">
    <origin xyz="-0.0088 0.0325 -0.063609" rpy="-1.5708 1.12911 1.5708"/>
    <parent link="interface_arm100"/>
    <child link="internal_rod_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <joint name="Revolute 16" type="fixed">
    <origin xyz="0.034641 0.02 -0.008" rpy="-1.82922e-15 -1.15261e-15 0.441689"/>
    <parent link="external_rod_2"/>
    <child link="distal_shell_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <joint name="Revolute 15" type="fixed">
    <origin xyz="-0.0042 0.044 -0.063609" rpy="-1.5708 1.12911 1.5708"/>
    <parent link="interface_arm100"/>
    <child link="external_rod_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <joint name="gripper" type="revolute">
    <origin xyz="0.0029 9.45424e-17 -0.0455626" rpy="6.12323e-17 1.5708 0"/>
    <parent link="interface_arm100"/>
    <child link="cam"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
</robot>