<?xml version='1.0' encoding='utf-8'?>
<robot name="so107_xl">
  <link name="base_so101_v2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 -1.24689e-08 1.5708"/>
      <geometry>
        <mesh filename="package://assets/base_so101_v2.stl"/>
      </geometry>
      <material name="base_so101_v2_material">
        <color rgba="0.964706 0.964706 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 -1.24689e-08 1.5708"/>
      <geometry>
        <mesh filename="package://assets/base_so101_v2.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0324 -0.000250001 0.0461" rpy="1.24689e-08 -1.07987e-08 -2.69963e-08"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1.stl"/>
      </geometry>
      <material name="sts3215_03a_v1_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0324 -0.000250001 0.0461" rpy="1.24689e-08 -1.07987e-08 -2.69963e-08"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="2.68438e-12 9.94325e-05 1.23984e-12" rpy="1.5708 -1.24689e-08 1.5708"/>
      <geometry>
        <mesh filename="package://assets/base_motor_holder_so101_v1.stl"/>
      </geometry>
      <material name="base_motor_holder_so101_v1_material">
        <color rgba="0.964706 0.964706 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="2.68438e-12 9.94325e-05 1.23984e-12" rpy="1.5708 -1.24689e-08 1.5708"/>
      <geometry>
        <mesh filename="package://assets/base_motor_holder_so101_v1.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="rotation_pitch_so101_v1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="-0.0306 0.0004 -0.0397" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1__2.stl"/>
      </geometry>
      <material name="sts3215_03a_v1_2_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0306 0.0004 -0.0397" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1__2.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.012 1.65883e-17 0.0484" rpy="-1.5708 -1.65436e-24 1.59914e-18"/>
      <geometry>
        <mesh filename="package://assets/rotation_pitch_so101_v1.stl"/>
      </geometry>
      <material name="rotation_pitch_so101_v1_material">
        <color rgba="0.964706 0.964706 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.012 1.65883e-17 0.0484" rpy="-1.5708 -1.65436e-24 1.59914e-18"/>
      <geometry>
        <mesh filename="package://assets/rotation_pitch_so101_v1.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.0678 -0.0002 0.0178499" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/motor_holder_so101_base_v1.stl"/>
      </geometry>
      <material name="motor_holder_so101_base_v1_material">
        <color rgba="0.964706 0.964706 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0678 -0.0002 0.0178499" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/motor_holder_so101_base_v1.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="upper_arm_xl">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="-0.140085 0.012 0.0197" rpy="-3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/upper_arm_xl.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.140085 0.012 0.0197" rpy="-3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/upper_arm_xl.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.187485 -0.0155 0.0202" rpy="-3.14159 5.06852e-18 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1__3.stl"/>
      </geometry>
      <material name="sts3215_03a_v1_3_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.187485 -0.0155 0.0202" rpy="-3.14159 5.06852e-18 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1__3.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="sts3215_03a_v1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="-0.0424 1.04185e-17 0.0326" rpy="-3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1.stl"/>
      </geometry>
      <material name="sts3215_03a_v1_4_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0424 1.04185e-17 0.0326" rpy="-3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.028 4.35804e-17 0.0201" rpy="3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/wrist_roll_pitch_so101_v2.stl"/>
      </geometry>
      <material name="wrist_roll_pitch_so101_v2_material">
        <color rgba="0.964706 0.964706 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.028 4.35804e-17 0.0201" rpy="3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/wrist_roll_pitch_so101_v2.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="component1___use">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="0.0322139 0.000167782 -0.00279166" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/component1___use.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0322139 0.000167782 -0.00279166" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/component1___use.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0322139 0.000367782 -0.0777917" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/motor_holder_so101_wrist_v1.stl"/>
      </geometry>
      <material name="motor_holder_so101_wrist_v1_material">
        <color rgba="0.964706 0.964706 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0322139 0.000367782 -0.0777917" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/motor_holder_so101_wrist_v1.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.00498613 -0.000332218 -0.135342" rpy="-1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1.stl"/>
      </geometry>
      <material name="sts3215_03a_v1_5_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00498613 -0.000332218 -0.135342" rpy="-1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="wrist_roll_pitch_so101_v2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <visual>
      <origin xyz="-2.52594e-17 -0.028 0.0201" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/wrist_roll_pitch_so101_v2.stl"/>
      </geometry>
      <material name="wrist_roll_pitch_so101_v2_2_material">
        <color rgba="0.964706 0.964706 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-2.52594e-17 -0.028 0.0201" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/wrist_roll_pitch_so101_v2.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-1.40151e-17 -0.0424 0.0326" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1__3.stl"/>
      </geometry>
      <material name="sts3215_03a_v1_6_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.40151e-17 -0.0424 0.0326" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/sts3215_03a_v1__3.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="interface_arm100">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
  </link>
  <link name="gripper_frame_link">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="gripper_frame_fixed_joint" type="fixed">
    <origin xyz="-3.94522e-17 0 -0.123609" rpy="6.12323e-17 1.5708 0"/>
    <parent link="interface_arm100"/>
    <child link="gripper_frame_link"/>
    <axis xyz="0 0 0"/>
  </joint>
  <joint name="wrist_roll" type="revolute">
    <origin xyz="-8.18725e-17 -0.0626 0.0201" rpy="1.5708 -1.4468e-13 3.14159"/>
    <parent link="wrist_roll_pitch_so101_v2"/>
    <child link="interface_arm100"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="2" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <joint name="wrist_flex" type="revolute">
    <origin xyz="0.0 0.0198678 -0.147842" rpy="1.5708 2.87986e-14 -2.22048e-16"/>
    <parent link="component1___use"/>
    <child link="wrist_roll_pitch_so101_v2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.6580627893946132" upper="1.6580627893946132"/>
  </joint>
  <joint name="elbow_roll" type="revolute">
    <origin xyz="-0.0626 1.05626e-16 0.0201" rpy="-1.5708 -9.25644e-14 -1.5708"/>
    <parent link="sts3215_03a_v1"/>
    <child link="component1___use"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="2" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <joint name="elbow_flex" type="revolute">
    <origin xyz="-0.187485 -0.028 0.0016" rpy="-1.5234e-15 -1.37129e-14 1.5708"/>
    <parent link="upper_arm_xl"/>
    <child link="sts3215_03a_v1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.6580627893946132" upper="1.5707963267948966"/>
  </joint>
  <joint name="shoulder_lift" type="revolute">
    <origin xyz="-0.0306 -0.0198 -0.0522" rpy="-1.5708 -1.5708 0"/>
    <parent link="rotation_pitch_so101_v1"/>
    <child link="upper_arm_xl"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="2" lower="-1.6580627893946132" upper="1.6580627893946132"/>
  </joint>
  <joint name="shoulder_pan" type="revolute">
    <origin xyz="0.0449 -0.000250002 0.0663" rpy="3.14159 1.05335e-08 3.12052"/>
    <parent link="base_so101_v2"/>
    <child link="rotation_pitch_so101_v1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="2" lower="-2.0943951023931953" upper="2.0943951023931953"/>
  </joint>
</robot>